@mixin overlay($z-index, $color, $opacity: .5, $pseudo: "before", $position: relative) {
  position: $position;

  &:#{$pseudo} {
    content: "";
    position: absolute;
    z-index: $z-index;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color, $opacity);
  }
}