@import "../../../scss/base.scss";

@mixin cross-btn($size) {
  position: absolute;
  width: $size;
  height: $size;
  &:before {
    content: "";
    width: $size;
    height: 1px;
    display: inline-block;
    position: absolute;
    top: ($size / 2);
    left: 0;
    background-color: #212428;
    transform: rotate(45deg);
  }
  &:after{
    content: "";
    width: $size;
    height: 1px;
    display: inline-block;
    position: absolute;
    top: ($size / 2);
    left: 0;
    background-color: #212428;
    transform: rotate(-45deg);
  }
}

@mixin fade-in-fade-out() {
  visibility: hidden;  
  transition: opacity, visibility;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  &.ON{
    visibility: visible;
    opacity: 1;
  }
}



.post-submission--button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  border-radius: 30px;
  background: linear-gradient(-45deg, #e88e03, #fccf00);
  box-shadow: 0px 0px 60px rgba(247, 162, 26, 0.4);
}

.post-submission--popup {
  @include overlay(index($zIndexs, 'overlay'), #000000, .78, "before", fixed);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include fade-in-fade-out();
}

.post-submission--write-post {
  z-index: index($zIndexs, 'popup');
  width: 500px;
  display: none;
  &.ON{
    display: block;
  }
}

.post-submission--content {
  padding: 20px 15px 40px 15px;
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 10px;
  textarea {
    width: 100%;
    height: 285px;
    border: none;
    letter-spacing: 1px;
    &:placeholder {
      opacity: .8;
    }
  }
}

.post-submission_palette {
  float: right;
}

.post-submission--close-button{

  right: 20px;
  top: 20px;
  @include cross-btn(20px);
}

.post-submission--vote{
  z-index: index($zIndexs, 'popup');
  display: none;
  &.ON{
    display: block;
  }
}