.post__submission--buttom{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  border-radius: 30px;
  background: linear-gradient(90deg,#f89916,#fb7204);
  box-shadow: 0px 0px 60px rgba(247,162,26,0.4);
}