.group_list{
  font-size: 0;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    display: inline-flex;
    align-items: center;
    background-color: #f4f4f4;
    width: 180px;
    height: 55px;
    margin-right: 20px;
    border-radius: 30px ;
    img{
      width: 45px;
      height: 45px;
      margin: 0 10px 0 3px;
      border-radius: 30px;
      border: 1px solid red;
    }
    span{
      display: inline-block;
      font-size: 14px;
      color: #312f4b;
      width: 110px;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}